a {
    color: black;
    font-size: 150%
}

.arrow-7 {
    position:absolute;
    left:20px;
    top:0;
    margin-top:0
}

.tone-name, .tone-score {
    list-style-type: none;
}

.advices-header {
    font-family: 'Aclonica', sans-serif;
}

.posts, ul {
    display: block;
    list-style: none;
    vertical-align: center;
    text-align: left;
}

.post {
    width: 100%;
    display: inline-block;
    vertical-align: center;
    padding: 4px;
}

.post-caption-container {
    float: left;
    width: 80%;
/*    тут стиль для описания поста - НИКАК ИНАЧЕ*/
}

.post-button-container {
    float: right;
    width: 19%;
}

.assess {
    text-decoration: none;
    outline: none;
    font-family: 'Padauk', sans-serif;
    color: white;
    font-size: 15px;
    /*padding: 5px 10px;*/
    /*margin: 10px 15px;*/
    background-image: linear-gradient(to right, #8B0000 0%, #B22222 51%,#B22222 100%);
    background-size: 100% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}