@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Amatic+SC&family=Kaushan+Script&family=Mali&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
#welcome{
    color: black;
    font-family: 'Aclonica', sans-serif;
    font-size: 350%;
}
