
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

#welcome{
    color: black;
    padding-top: 6%;
    font-family:  'Cabin Sketch', cursive;;
    padding-left: 20%;
    font-size: 350%;
}
#top{
    padding-left: 33%;
}
.button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #8B0000 0%, #B22222 51%, #FF0000 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    transition: .5s;
}