<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css">
    <link href="/static/css/style_index.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/table_style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/admin.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td>
                    <ul th:each="role: ${user.roles}">
                        <li th:text="${role.getName()}"></li>
                    </ul>
                </td>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input type="hidden" name="action" value="delete"/>
                        <button type="submit" class="simple-red-button">Delete (block)</button>
                    </form>
                    <form action="/admin" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input type="hidden" name="action" value="make_analyst"/>
                        <button type="submit" class="simple-red-button">Make analyst</button>
                    </form>
                    <form action="/admin" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input type="hidden" name="action" value="make_user"/>
                        <button type="submit" class="simple-red-button">Make user</button>
                    </form>
                </td>
            </tr>
    </table>
    <p th:text="${error}"></p>
    <a href="/">Main</a>
</div>
<div>
    <div>
        <form action="/admin" method="post">
            <input type="hidden" name="action" value="get_full_info"/>
            <button type="submit" class="beauty-button">Get full info</button>
        </form>
    </div>
    <div>
        <h2 th:text="${header}"></h2>
        <ul th:each="tone : ${allTones}">
            <li th:text="${tone.getToneName()} + ' ' + ${tone.getScore()}"></li>
        </ul>
        <div th:if="${header != null}">
            <form action="/admin/statistics" method="post">
                <input type="hidden" name="format" value="excel">
                <button type="submit" class="simple-red-button">Excel File</button>
            </form>
            <div th:if="${filename} != null">
                <a href="/admin/statistics/file" download>File</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>