<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Analytics</title>
    <link rel="stylesheet" type="text/css">
    <link href="/static/css/style_index.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/analyst.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/table_style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body id="main">
<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Tones</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td>
                <ul th:each="tone : ${user.getTones()}">
                    <li th:text="${tone.getToneName()} + ' ' + ${tone.getScore()}"></li>
                </ul>
            </td>

            <td>
                <form action="/analyst" method="post">
                    <input type="hidden" name="username" th:value="${user.getUsername()}"/>
                    <input type="hidden" name="action" value="get_info"/>
                    <button type="submit">Get info</button>
                </form>
            </td>
        </tr>
    </table>
    <a class="main-link" href="/">Main</a>
    <div>
        <h2 th:text="${requiredUsername}"></h2>
        <ul th:each="tone : ${tones}">
            <li th:text="${tone.getToneName()} + ' ' + ${tone.getScore()}"></li>
        </ul>
    </div>
</div>
<div>
    <div>
        <form action="/analyst" method="post">
            <input type="hidden" name="action" value="get_full_info"/>
            <button class="assess" type="submit">Get full info</button>
        </form>
        <form action="/analyst" method="post">
            <input type="hidden" name="action" value="get_average_info"/>
            <button class="assess" type="submit">Get average info</button>
        </form>
    </div>
    <div>
        <h2 th:text="${header}"></h2>
        <ul th:each="tone : ${allTones}">
            <li th:text="${tone.getToneName()} + ' ' + ${tone.getScore()}"></li>
        </ul>
        <div th:if="${header != null}">
            <div>
                <form action="/analyst/statistics" method="post">
                    <input type="hidden" name="format" value="bar">
                    <button class="assess" type="submit">Bar chart</button>
                </form>
                <form action="/analyst/statistics" method="post">
                    <input type="hidden" name="format" value="pie">
                    <button class="assess" type="submit">Pie chart</button>
                </form>
                <form action="/analyst/statistics" method="post">
                    <input type="hidden" name="format" value="radar">
                    <button  class="assess" type="submit">Radar chart</button>
                </form>
                <form action="/analyst/statistics" method="post">
                    <input type="hidden" name="format" value="excel">
                    <button class="assess" type="submit">Excel File</button>
                </form>
                <form action="/analyst/statistics" method="post">
                    <input type="hidden" name="format" value="csv">
                    <button class="assess" type="submit">CSV File</button>
                </form>
            </div>
            <div th:if="${image} != null">
                <img th:src="*{'data:image/jpg;base64,'+ image}" alt="Image of chart" src="">
            </div>
            <div th:if="${filenameXLSX} != null">
                <a class="main-link" href="/analyst/statistics/xlsx" download>File</a>
            </div>
            <div th:if="${filenameCSV} != null">
                <a class="main-link" href="/analyst/statistics/csv" download>File</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>