<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Analytics</title>
    <link rel="stylesheet" type="text/css">
    <style>
        table td + td {
            border-left:1px solid;
            border-bottom: 1px solid;

        }
    </style>
</head>

<body>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Tones</th>
        </tr>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td>
                <ul th:each="tone : ${user.getTones()}">
                    <li th:text="${tone.getToneName()} + ' ' + ${tone.getScore()}"></li>
                </ul>
            </td>

            <td>
                <form action="/analyst" method="post">
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <input type="hidden" name="action" value="get_info"/>
                    <button type="submit">Get info</button>
                </form>
            </td>
        </tr>
    </table>
    <a href="/">Main</a>
</div>
</body>
</html>