<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Emotional assessment</title>
</head>
<body>
<div>
    <h2>Emotional assessment <br>Only for registered users.</h2>
    <div></div>
    <a href="/">Main</a>
    <div>
        <form action="/emotional_assessment/start">
            <label>
                <input name="text" type="text" placeholder="type some text">
            </label>
            <input type="submit">
        </form>
        <div>
            <h1 th:text="${text}"></h1>
        </div>
        <div>
            <ul th:each="tone : ${result}">
                <li><h2 th:text="${tone.getToneName()}"></h2></li>
                <li><h3 th:text="${tone.getScore()}"></h3></li>
            </ul>
        </div>
    </div>
    <div>
        <form action="/emotional_assessment/instagram">
            <button>Get instagram posts</button>
        </form>
    </div>
    <div>
        <ul th:each="post : ${instagramPosts}">
            <li>
                <div>
                    <h4 th:text="${post.getId()}"></h4>
                    <p th:text="${post.getCaption()}"></p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>