<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
</head>
<body>
<div>
    <h3>Emotional assessment</h3>
    <h4><a href="/login">Войти</a></h4>
    <h4><a href="/registration">Зарегистрироваться</a></h4>
    <h4><a href="/logout">Выйти</a></h4>
    <h4><a href="/personal_area">Личный кабинет (только авторизованные пользователи)</a></h4>
    <h6 th:text="${message}"></h6>
    <h4><a href="/emotional_assessment">Оценка эмоционального состояния (только авторизованные пользователи)</a></h4>
    <h4><a href="/analyst">Аналитика (только аналитик)</a></h4>
    <h4><a href="/admin">Пользователи (только админ)</a></h4>
</div>
</body>
</html>