<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
</head>
<body>
<div>
    <h1>Введите новый пароль</h1>
    <form action="/password_reset/change_password/set_password" method="post">
        <div>
            <label>
                <input type="password" name="passwordNew" autofocus required placeholder="New password">
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="passwordNewConfirm" required placeholder="Confirm new password">
            </label>
        </div>
        <input type="hidden" name="id" th:value="${id}">
        <h3 th:text="${message}"></h3>
        <input type="submit">
    </form>
</div>
</body>
</html>