<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="/static/css/style_index.css" rel="stylesheet" type="text/css" media="all"/>
    <meta charset="UTF-8">
    <title>New password</title>
</head>
<body>
<div id = main>
    <h1 id = "welcome">Enter new password</h1>
    <form action="/password_reset/change_password/set_password" method="post">
        <div>
            <h2>Answer on secret question:</h2>
            <h3 th:text="${secretQuestion}"></h3>
            <label>
                <input type="text" name="secretAnswer" autofocus required placeholder="Answer for secret question">
            </label>
        </div>

        <div>New password:
            <br>
            <label>
                <input type="password" name="passwordNew" autofocus required placeholder="New password">
            </label>
        </div>

        <div>Confirm new password:
            <br>
            <label>
                <input type="password" name="passwordNewConfirm" required placeholder="Confirm new password">

            </label>
        </div>

        <input type="hidden" name="id" th:value="${id}">
        <h3 th:text="${message}"></h3>
        <input type="submit" class="simple-red-button">
    </form>
</div>
</body>
</html>