<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Sign up</title>
</head>

<body>
<div>
    <form method="POST" th:modelAttribute="userForm">
        <h2>Sign up</h2>
        <div>First name:
            <br>
            <label>
                <input type="text" name="firstName" placeholder="First Name" autofocus="autofocus" required>
            </label>
        </div>
        <div>Second name:
            <br>
            <label>
                <input type="text" name="lastName" placeholder="Last Name" required>
            </label>
        </div>
<!--        <div>-->
<!--            Group:-->
<!--            <select name="group">-->
<!--                -->
<!--            </select> todo-->
<!--        </div>-->
        <div>Email:
            <br>
            <label>
                <input type="email" name="email" placeholder="Email" required>
            </label>
        </div>
        <div>Username:
            <br>
            <label>
                <input type="text" name="username" placeholder="Username" required>
            </label>
            <p th:text="${usernameError}"></p>
        </div>
        <div>
            Password:
            <br>
            <label>
                <input type="password" name="password" placeholder="Password" required>
            </label>
        </div>
        <div>
            <label>
                <input type="password" name="passwordConfirm" placeholder="Confirm your password" required>
            </label>
            <p th:text="${passwordError}"></p>
        </div>
        <div>
            <label>
                <input type="checkbox" name="agreement" value="true">I agree with <a href="/terms_of_use">terms of use</a>
            </label>
            <p th:text="${agreementError}"></p>
        </div>
        <button type="submit">Sign up</button>
    </form>
    <a href="/">Main</a>
</div>
</body>
</html>